<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>Javier Zapata</title>
</head>
<body>
    <div class="grid-container">
        <div class="head">
            <div class="nav1"></div>
            <div class="nav2"></div>
            <div class="nav3"></div>
        </div>
        <div class="menu">menu</div>
        <div class="main">main</div>
        <div class="aside">aside</div>
        <div class="footer">footer</div>
    </div>
</body>
</html>